/* tag selectors below */
body{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
img{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
}
/* tag selectors above */

/* beginning of flex stuff */
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space-evenly{
  justify-content: space-evenly;
}
.align-start{
  align-items: flex-start;
}
/* end of flex stuff */

/* class selectors below */
.bg-img{
  display: block;
  position: absolute;
  top: -700px;
  height: 1200px;
  left: 0;
  right: 0;
  z-index: -1;
}

.logo{
  height: 21px;
  width: 21px;
  position: relative;
  top: 1px;
}

.navbar{
  box-sizing: border-box;
  width: 73%;
  height: 37px;
  margin: 20px auto;
  border-radius: 6px;
  background: linear-gradient(#606060 1%,rgba(0,0,0,0) 2%, rgba(0,0,0,0) 98%, #606060 99%), linear-gradient(#777777, #606060 25%, #606060 50%, #909090 90%, #a0a0a0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar button{
  cursor: pointer;
  height: 100%;
  width: 10.8%;
  border: none;
  border-right: 1px solid #505050;
  background: linear-gradient(90deg, rgba(200,200,200,0.2) 0.5%, rgba(0,0,0,0) 2%, rgba(0,0,0,0) 98%, rgba(200,200,200,0.3) 99.5%);
  color: white;
  font-size: 13px;
}

.navbar button:hover{
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.25));
}

.searchbar{
}

.searchbar label{
  box-sizing: border-box;
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 11px;
  background-color: transparent;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.7) inset;
  height: 22px;
  width: 100px;
  margin: 0 15px;
  transition: width 0.5s, border 0.5s, background-color 0.5s;
}

.searchbar label:focus-within{
  background-color: white;
  border: none;
  width: 150px;
  transition: width 0.5s, border 0.5s, background-color 0.5s;
}

.searchbar img{
  height: 14px;
  width: 14px;
  margin-left: 4px;
  position: relative;
  top: 3px;
  left: 1px;
}

.searchbar label:focus-within img{
  filter: contrast(0%);
  top: 4px;
}

.searchbar input{
  box-sizing: border-box;
  border: none;
  background: none;
  width: 65%;
  height: 100%;
  font-size: 12px;
}

.slogan{
  box-sizing: border-box;
  width: 50%;
  height: 240px;
  margin: 100px auto;
  text-align: center;
}

.slogan a{
  color: white;
}

.slogan h1{
  font-size: 54px;
  padding: 0;
  margin: 10px 0;
  font-weight: 100;
}

.slogan h2{
  font-size: 30px;
  padding: 0;
  margin: 10px 0;
  font-weight: 100;
}
.slogan h3{
  font-size: 26px;
  padding: 0;
  margin: 10px 0;
  font-weight: 100;
}

.video-link:hover{
  text-decoration: underline;
}

.thumbnails-container{
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid white;
}

.thumbnail{
  border: 1px solid white;
}

.footer{
  width: 73%;
  height: 100px;
  margin: 300px auto 0 auto;
  font-size: 9px;
  color: gray;
}

.footer div{
  width: 50%;
}

.footer p{
  margin: 20px 0 0 0;
  padding: 0;
}

.footer a{
  color: #08c;
}

.footer a:hover{
  text-decoration: underline;
}

.footer a.bar{
  margin-left: 4px;
  border-left: 1px solid silver;
  padding-left: 5px;
}

.flag {
  display: inline;
  height: 15px;
  width: 15px;
  margin-left: 4px;
  position: relative;
  top: 3px;
}
